{% extends "prelogin-layout.html" %}

{% block title %} Registration {% endblock %}

{% block content %}

<h1>Get started</h1>
<form action="{{ url_for('index') }}" , method="POST">
    <div>
        {{ form.username(class_='form-control',id='username',
            placeholder='username/name', autocomplete='off',
            autofocus=true,pattern="^{4,20}$")}}
        <ul>
            <div id="message1" style="text-align: center; margin: auto; ">
                <p>(Note:Username should be Minimum 4 characters )</p>
            </div>
            
            {% for error in form.username.errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>


    </div>
    <div>
        {{ form.password(class_='form-control',
            placeholder='password',pattern="{8,}",id="psw")}}
        <!--  -->
        <div id="message" style="text-align: center; margin: auto; ">
            <p>Password must be:</p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        
        </div>
        <!--  -->
        <ul>
            {% for error in form.password.errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>

    </div>
    <div>
        {{ form.confirm_pswd(class_='form-control',
            placeholder='Retype password',id="cpsw")}}
        <ul>
            {% for error in form.confirm_pswd.errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token }}
</form>
<hr>

<p>Already registered? <a href={{ url_for('login') }}> Login here</a>.</p>
<script>
    var myInput = document.getElementById("psw");
    var myusername = document.getElementById("username");
    var length = document.getElementById("length");


    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }
// When the user clicks on the password field, show the message box
myusername.onfocus = function () {
        document.getElementById("message1").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myusername.onblur = function () {
        document.getElementById("message1").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
    // confirm password validation
    var password = document.getElementById("psw"),
        confirm_password = document.getElementById("cpsw");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}