{% extends "prelogin-layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<h1>Get started</h1>
<form action="{{ url_for('login') }}" , method="POST">
    <div>
        {{ form.username(class_='form-control',
            placeholder='username/name', autocomplete='off',
            autofocus=true)}}
        <ul>
            {% for error in form.username.errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>


    </div>
    <div>
        {{ form.password(class_='form-control',
            placeholder='password', type='password')}}

        <ul>
            {% for error in form.password.errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>

    </div>

    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token }}

</form>
<hr>

    <p>Have not registered? <a href={{ url_for('index') }}>Register here</a>.</p>
{% endblock %}